.container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-evenly;
}

.box {
    width: 380px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;

    align-items: center;
    box-shadow: 2px 2px 15px #0e0e0e;
    border-radius: 10px;
}

.box:hover {
    transform: scale(0.9);
    transition: 0.3s ease-in-out;
}

.title {
    font-weight: bolder;
    color: black;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 40px
}

.input {
    width: 450px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px;
}

.filters {
    display: flex;
    width: 33%;
    justify-content: space-between;
}

select {
    border-radius: 10px;
    color: black;
    font-weight: 700;
    background-color: rgb(179, 180, 181);
}

button {
    border-radius: 10px;
    width: 120px;
    border: none;
    outline: none;
    height: 30px;
    font-weight: 700;
    background-color: rgb(179, 180, 181);
}

button:hover {
    background-color: black;
    color: white;
}

@media screen and (max-width: 600px) {
    .input {
        margin-bottom: 10px;
        width: 270px;
    }
    .searchbar {
        flex-direction: column;
        padding: 10px;
    }
    .filters {
        width: 90%;
       
    }
    .filters>select {
        margin: 5px;
    }
}