.container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    /* align-items: center; */
}

.box {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-left: 25px; */
    /* border: 1px solid red; */
    /* box-shadow: 1px 1px 1px 1px #000000; */
    /* border: 1px solid #040404; */
    box-shadow: 2px 2px 15px #0e0e0e;
}

.box:hover {
    transform: scale(0.9);
    transition: 0.3s ease-in-out;
}

.title {
    font-weight: bolder;
    color: black;
}